In [23]:
# Define a function to create batches so that when the script appends them into the sql database they are smaller chunks of data
def create_batches(dataframe, batch_size):
    print(f'Batch size:{batch_size}')
    print(f'length: {len(dataframe)}')
    for start in range(0, len(dataframe), batch_size):
        yield dataframe.iloc[start:start + batch_size]
        print(dataframe.iloc[start:start + batch_size])

In [3]:
import pandas as pd
df = pd

In [11]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie','Daniel','George','Felix'],
    'Age': ['25', '30', '35','23','24','45'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Chicago', 'Chicago','New York']}

In [12]:
df = pd.DataFrame(data)

In [13]:
print(df)

      Name Age         City
0    Alice  25     New York
1      Bob  30  Los Angeles
2  Charlie  35      Chicago
3   Daniel  23      Chicago
4   George  24      Chicago
5    Felix  45     New York

In [24]:
# Specify the desired batch size
batch_size = 2  # For example, 100 rows per batch

# Create the batches
batches = list(create_batches(df, batch_size))

Batch size:2
length: 6
    Name Age         City
0  Alice  25     New York
1    Bob  30  Los Angeles
      Name Age     City
2  Charlie  35  Chicago
3   Daniel  23  Chicago
     Name Age      City
4  George  24   Chicago
5   Felix  45  New York

In [27]:
import pandas as pd

# URL of the Parquet file
url="https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"

# Reading the Parquet file into a DataFrame
df = pd.read_parquet(url, engine='pyarrow')

# Displaying the DataFrame
print(df.head())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         1  2021-01-01 00:30:10   2021-01-01 00:36:12              1.0
1         1  2021-01-01 00:51:20   2021-01-01 00:52:19              1.0
2         1  2021-01-01 00:43:30   2021-01-01 01:11:06              1.0
3         1  2021-01-01 00:15:48   2021-01-01 00:31:01              0.0
4         2  2021-01-01 00:31:49   2021-01-01 00:48:21              1.0

   trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
0           2.10         1.0                  N           142            43
1           0.20         1.0                  N           238           151
2          14.70         1.0                  N           132           165
3          10.60         1.0                  N           138           132
4           4.94         1.0                  N            68            33

   payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0             2          8.0    3.0      0.5        0.00           0.0
1             2          3.0    0.5      0.5        0.00           0.0
2             1         42.0    0.5      0.5        8.65           0.0
3             1         29.0    0.5      0.5        6.05           0.0
4             1         16.5    0.5      0.5        4.06           0.0

   improvement_surcharge  total_amount  congestion_surcharge  airport_fee
0                    0.3         11.80                   2.5          NaN
1                    0.3          4.30                   0.0          NaN
2                    0.3         51.95                   0.0          NaN
3                    0.3         36.35                   0.0          NaN
4                    0.3         24.36                   2.5          NaN