In [21]:
# Define a function to create batches so that when the script appends them into the sql database they are smaller chunks of data
def create_batches(dataframe, batch_size):
    print(f'Batch size:{batch_size}')
    print(f'length: {len(dataframe)}')
    for start in range(0, len(dataframe), batch_size):
        yield dataframe.iloc[start:start + batch_size]
        print(dataframe.iloc[start:start + batch_size])

In [3]:
import pandas as pd
df = pd

In [11]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie','Daniel','George','Felix'],
    'Age': ['25', '30', '35','23','24','45'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Chicago', 'Chicago','New York']}

In [12]:
df = pd.DataFrame(data)

In [13]:
print(df)

      Name Age         City
0    Alice  25     New York
1      Bob  30  Los Angeles
2  Charlie  35      Chicago
3   Daniel  23      Chicago
4   George  24      Chicago
5    Felix  45     New York

In [22]:
# Specify the desired batch size
batch_size = 2  # For example, 100 rows per batch

# Create the batches
batches = list(create_batches(df, batch_size))

Batch size:2
    Name Age         City
0  Alice  25     New York
1    Bob  30  Los Angeles
      Name Age     City
2  Charlie  35  Chicago
3   Daniel  23  Chicago
     Name Age      City
4  George  24   Chicago
5   Felix  45  New York