# Load Time Zone Data

#### This Python script automates the process of loading New York zones data from the New York Taxi and Limousine Commission (TLC) website into a PostgreSQL database. The script performs the following steps:

##### 1. Download the Data: Uses the !wget command to download the zone data directly from the TLC website.

##### 2. Create a DataFrame: Utilizes the pandas library to read the downloaded data into a DataFrame for easy manipulation and analysis.

##### 3. Connect to PostgreSQL: Employs the sqlalchemy library to create a connection engine for interacting with a PostgreSQL database.

##### 4. Load Data into PostgreSQL: Inserts the DataFrame into a PostgreSQL table, ensuring the data is efficiently stored and accessible for further use.

In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
#Getting the taxi zone lookup csv data from the ny taxi website
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-02-09 10:12:08--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.165.48.64, 18.165.48.108, 18.165.48.82, ...
connected. to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.165.48.64|:443...
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-02-09 10:12:08 (136 MB/s) - ‘taxi_zone_lookup.csv’ saved [12331/12331]

In [13]:
#Read CSV file to pandas dataframe
df_zones = pd.read_csv('taxi_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [10]:
#Create engine using the following parameters to access
user = 'root'
password = 'root'
host = 'localhost'
port = '5432'
db = 'ny_taxi'
table_name = 'taxi_zones'
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')

In [11]:
#Loads the taxi zones to a table called zones to postgres. If the table exists it replaces with new data.
df_zones.to_sql(name='zones',con=engine,if_exists='replace')

265